{% if include.lookup %}
  {% assign member = site.members | where_exp: "m", "m.slug == include.lookup" | first %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign email = member.links.email | default: member.email %}

<div class="portrait-wrapper">
  <div class="portrait portrait-undergrad" data-style="{{ include.style }}">
    <span class="portrait-name">{{ member.name }}</span>

    {% if email %}
      <span class="portrait-email">
        &lt;<a href="mailto:{{ email }}">{{ email }}</a>&gt;
      </span>
    {% endif %}
  </div>
</div>

